<?xml version="1.0"?>
<ruleset name="MV Users API Test">
    <arg value="s"/>
    <file>./src</file>
    <rule ref="Inpsyde">
		<exclude name="Inpsyde.CodeQuality.LineLength.TooLong"/>
	</rule>
</ruleset>